
<div *ngIf="fields">
    <h2><span jhiTranslate="twentyOnePointApp.fields.detail.title">Fields</span> {{fields.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="twentyOnePointApp.fields.weeklyGoal">Weekly Goal</span></dt>
        <dd>
            <span>{{fields.weeklyGoal}}</span>
        </dd>
        <dt><span jhiTranslate="twentyOnePointApp.fields.weightUnits">Weight Units</span></dt>
        <dd>
            <span jhiTranslate="{{'twentyOnePointApp.Units.' + fields.weightUnits}}">{{fields.weightUnits}}</span>
        </dd>
        <dt><span jhiTranslate="twentyOnePointApp.fields.user">User</span></dt>
        <dd>
            {{fields.userId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'fields-my-suffix/'+ fields.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
